<h1>Home#index</h1>
<p>Welcome</p>


<%= link_to "Sign Up", new_owner_path %> | <%= link_to "Login page", new_session_path %>
<% if current_user %>
<%= link_to "My Profile", owner_path(current_user) %>
<% end %>